body { 
  font-family: 'Akaya Kanadaka', cursive;
  background-color: #ccffe5
}

h1, h2 {
  font-family: 'Lobster', cursive;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul-skills{
  list-style-type: "\2713";
}

.photo {
  width: 25%;
}

.photo-container {
 display: flex; 
 justify-content: center;
}

section {
  width: 50%
}